@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

/* ===============================================
ヘッダーのボタン
=============================================== */

.c-header__button--left {
 border: 1px solid #fff ;
 background: #fff;
 color: v.$color-accent;
 border-radius: 8px;
 font-weight: v.$bold;
 line-height: f.pxToRem(22);
 width: f.pxToRem(152);
 text-align: center;
 align-self: center;
 transition: .3s ease-out;
 
 
 & .button-top {
   font-size: f.pxToRem(12);
   background: v.$color-accent;
   color: #fff;
   border-radius: 8px 8px 0 0;
  }
  
  &:hover {
  opacity: .8;
  transform: translateY(4px);
 }
}

.c-header__button--right {
    border: 1px solid #fff ;
    background: v.$color-accent;
    color: #fff;
    border-radius: 8px;
    font-weight: v.$bold;
    line-height: f.pxToRem(22); 
    width: f.pxToRem(144);
    text-align: center;
    align-self: center;
    transition: .3s ease-out;
    
    & .button-top {
      font-size: f.pxToRem(12);
      background: #fff;
      color: v.$color-accent;
      border-radius: 8px 8px 0 0;
     }
     
     &:hover {
     opacity: .8;
     transform: translateY(4px);
    }
   }

/* ===============================================
drawer
=============================================== */

.c-drawer__icon {
  @include m.mq("pc") {
    display: none;
  }

  position: absolute;
  content: "";
  background: inherit;
  display: inline-block;
  width: f.pxToRem(36);
  height: f.pxToRem(36);
  transition: 0.5s ease-out;

  &.is-active {
    span {
      &:nth-of-type(1) {
        transform: translateY(0) rotate(-30deg);
        top: f.pxToRem(10);
        background: #fff;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(0) rotate(30deg);
        top: f.pxToRem(10);
        background: #fff;
      }
    }
  }
}

.c-drawer__bars {
  span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 50px;
    background: #fff;
    width: f.pxToRem(36);

    &:nth-of-type(1) {
      top: f.pxToRem(1);
    }
    &:nth-of-type(2) {
      top: f.pxToRem(12);
    }
    &:nth-of-type(3) {
      top: f.pxToRem(23);
    }
  }
}

/* ===============================================
CTA
=============================================== */
.c-cta__button {
  display: inline-block;
  background: transparent;
  font-weight: v.$bold;
  line-height: 130%;
  transition: 0.5s ease-out;
  box-shadow: 0px 0px 34px 0 rgba(0  0  0 /0.05);

  &:hover {
    opacity: .8;
    transform: translateY(8px); 
  }
}

.c-cta__button--left {
  border: 1px solid #fff;
  display: inline-block;
  text-align:left; 
  letter-spacing: .48px;
  font-size:f.pxToRem(24);
  padding:f.pxToRem(22) f.pxToRem(28) f.pxToRem(14) f.pxToRem(30);
  border-radius: 8px;
  position: relative;
  background: transparent;
  color: v.$color-accent;
  background: #fff;
  font-family: v.$font-deco;
  
  @include m.mq('sp') {
    font-size: f.pxToRem(18);
    padding:f.pxToRem(12) f.pxToRem(14) f.pxToRem(10) f.pxToRem(18);
  }

  svg {
    padding-left: f.pxToRem(10);
    vertical-align: middle;
  }
  
  &::before {
    position: absolute;
    content: "コンサルタントをお探しの企業様へ";
    font-family: v.$font-main;
    display: inline-block;
    top: -24px;
    left: 0;
    border: 1px solid #fff;
    border-radius: 8px 8px 8px 0;
    font-size: clamp(0.875rem, 0.787rem + 0.38vw, 1.125rem);
    background: v.$color-primary;
    color: #fff;
    padding: f.pxToRem(6) f.pxToRem(14);
    line-height: 130%;
  }
}

.c-cta__button--right {
  border: 1px solid #fff;
  display: inline-block;
  text-align:left; 
  letter-spacing: .48px;
  font-size: f.pxToRem(24);
  padding:f.pxToRem(22) f.pxToRem(28) f.pxToRem(14) f.pxToRem(30);
  border-radius: 8px;
  position: relative;
  background: transparent;
  color: #fff;
  font-family: v.$font-deco;

  @include m.mq('sp') {
    font-size: f.pxToRem(18);
    padding:f.pxToRem(12) f.pxToRem(14) f.pxToRem(10) f.pxToRem(18);
  }

  svg {
    padding-left: f.pxToRem(10);
    vertical-align: middle;
  }
  
  &::before {
    position: absolute;
    content: "コンサルタントの方へ";
    font-family: v.$font-main;
    display: inline-block;
    top: -24px;
    left: 0;
    border: 1px solid #fff;
    border-radius: 8px 8px 8px 0;
    font-size: clamp(0.875rem, 0.787rem + 0.38vw, 1.125rem);
    background: #fff;
    color: v.$color-primary;
    padding: f.pxToRem(6) f.pxToRem(14);
    line-height: 130%;
  }
}

.c-page404__button {
  color: #fff;
  background: v.$color-primary;
  padding: 16px 32px;
  text-align: center;
  font-size: f.pxToRem(24);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
  letter-spacing: 1.92px;
  border-radius: 16px;
  box-shadow: 0px 0px 34px 0px rgba(0 0 0 / 0.05);

  @include m.mq('sp') {
    font-size: f.pxToRem(15);
    letter-spacing: 1.12px;
  }

  &:hover {
    opacity: .8;
    transform: translateY(8px); 
  }
}

/* ===============================================
タグ
=============================================== */
.c-tag {
 font-size: f.pxToRem(12);
 line-height: 180%;
 padding: f.pxToRem(2) f.pxToRem(8);
 border-radius: 16px;
 background: v.$color-tag;
 color: v.$color-tag-text;
 display: inline-block;
 transition: 0.3s ease-out;

  &:hover {
   background: v.$color-tag-text;
   color: v.$color-tag;
   }
 }


/* ===============================================
見出し
=============================================== */
.c-section__title {
 color: v.$color-accent;
 text-shadow: 0px 2px 24px rgb(0 0 0 /0.05);
 font-family: v.$font-deco;
 font-size: f.pxToRem(32);
 font-weight: v.$bold;
 line-height: 120%; 
 letter-spacing: f.pxToRem(6.4);
 align-items: center;
 display: flex;
 gap: f.pxToRem(12);


@include m.mq('sp'){
 font-size: f.pxToRem(24);
 letter-spacing: f.pxToRem(4.8);
} 
}

/* ===============================================
もっとみるボタン
=============================================== */
.c-more__button {
 padding: f.pxToRem(8) f.pxToRem(28);
 display: inline-block ;
 border-radius: 20px 20px 0px 20px;
 background: v.$color-accent;
 box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
 color: #fff;
 font-family:v.$font-deco;
 font-size: f.pxToRem(20);
 font-weight: v.$bold;
 line-height: 180%; 
 letter-spacing: f.pxToRem(4);
 transition: 0.3s ease-out;

 @include m.mq('sp'){
 font-size: f.pxToRem(18);
 line-height: 180%; 
 letter-spacing: f.pxToRem(3.6);
 }

 &:hover {
  color: v.$color-accent;
  background: #fff;
  border: 1px solid v.$color-accent;
 }
}

/* ===============================================
投稿ページボタン
=============================================== */
.c-entry__button {
 padding: f.pxToRem(14) f.pxToRem(30);
 text-align: center;
 border-radius: 16px;
 border: 2px solid #fff;
 background: v.$color-primary;
 color: #fff;
 font-size: f.pxToRem(24);
 font-weight: 500;
 line-height: 130%; 
 letter-spacing: f.pxToRem(1.92);
 transition: .3s ease-out;

@include m.mq('sp'){
 font-size: f.pxToRem(14);
 letter-spacing: f.pxToRem(1.12);
 } 

 &:hover {
  opacity: .8;
  transform: translateY(8px); 
}
}


