@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

@media (max-width: 1199px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

/* ===============================================
カード
=============================================== */
.p-card {
 background: #fff;
 padding: f.pxToRem(16);
 border-radius: 12px;
 box-shadow: 0px 0px 30px 0px rgb(0 0 0/ 0.03), 0px 5px 30px 0px rgba(20 43 78/0.20);
 max-width: f.pxToRem(270);
 transition: .3s ease-out;
 cursor: pointer;
 
 &:hover {
  opacity: .8;
 }
}

.p-card__img {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.p-card__body {
  gap: f.pxToRem(8);
}

.p-card__time {
 color:v.$color-text-gray;
 font-family: "Noto Sans JP";
 font-size: f.pxToRem(12);
 line-height: 120%; 
}

.p-card__title {
 font-size: f.pxToRem(15);
 font-weight: 500;
 letter-spacing: f.pxToRem(1);
 line-height: 140%; 
 letter-spacing: f.pxToRem( .3);
 margin-top: f.pxToRem(8);
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
} 

.p-card__category {
 border: 1px solid #000;
 display: inline-block;
 font-size: f.pxToRem(13);
 border-radius: 6px;
 margin-top: f.pxToRem(8);
 margin: f.pxToRem(8) 0 f.pxToRem(10); 
 padding: f.pxToRem(4) f.pxToRem(16);
}

.p-card-tag__list{
  display: flex;
  white-space: nowrap;
  pointer-events: none;
  overflow-x: hidden;
  gap: f.pxToRem(8);
}

/* ===============================================
すべての記事/カテゴリー別の記事
=============================================== */
.p-all__title {
  padding-bottom: f.pxToRem(40);

  @include m.mq('sp') {
    padding-bottom: f.pxToRem(20);
  } 
}

.p-tabs {
  @include m.mq('sp'){
    display: flex;
    flex-direction: row-reverse;  
    justify-content: center;  
  } 
}

.p-tab__content {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  max-width: 1034px;
}

.p-tab-list__wrap {
  display: flex;
  justify-content: space-between;

  @include m.mq('sp'){
    flex-direction: column;
  } 
}

.p-tabs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: f.pxToRem(8);

  @include m.mq('sp'){
    flex-direction: column;
  } 
}

.p-tabs__item {
  padding: f.pxToRem(6) f.pxToRem(20) f.pxToRem(4) ;
  border-radius: 12px 12px 0px 0px;
  cursor: pointer;
  transition: all .3s ease;
  border: 1px solid var(--tab-color);
  border-bottom: none;
  color: var(--tab-color);
  background-color: #ffffff;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  font-weight: 500;
  line-height: 150%; 

  @include m.mq('sp'){
    border-radius: 0px 12px 12px 0px;
    padding: f.pxToRem(10)  f.pxToRem(8) f.pxToRem(10) f.pxToRem(4);
    border: 1px solid var(--tab-color);
    border-left: none;
    display: inline-block;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 115%; 
    text-align: center;
    letter-spacing: .2em;
    } 

  
  &.active,
  &:hover {
    color: #ffffff;
    background-color: var(--tab-color);
  }
}

.p-card-category__wrap {
  border-radius: 0px 16px 16px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: auto;
  gap: f.pxToRem(30);
  padding: f.pxToRem(32);
  justify-content: start;
  
  @media (width < 750px){
    padding: f.pxToRem(12);
    grid-template-columns: minmax(270px, 1fr);
    border-radius: 16px 0px 16px 16px;
    justify-items: center;
  }
  
  @media (750px <width < 950px){
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-tabs__pane {
  display: none;
}

.p-tabs__pane {

  &.active {
    display: block;
  }
}

.p-card__block--prepared {
  background: #fff;
  max-width: f.pxToRem(1000);
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03), 0px 16px 30px 0px rgba(0, 0, 0, 0.05);
  
  p {
    text-align: center;
    padding: f.pxToRem(16) 0;
    font-size: f.pxToRem(20);
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: f.pxToRem(0.4);
  }
}

/* ===============================================
ページネーション
=============================================== */
.page-numbers {
  font-size: f.pxToRem(14);
  border-radius: 4px;
  width: f.pxToRem(28);
  height: f.pxToRem(32);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: v.$color-primary;
  line-height: f.pxToRem(36); 
  transition: .3s ease-out;
   
  &.prev,
  &.next {
    width: f.pxToRem(36);
  }

  a {
    display: block;
    width: 100%;
  }
  
  &:hover {
    opacity: .8;
  }

  &.current {
    background: v.$color-primary;
    color: #fff;
  }
}  

