@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

.p-cta {
  background-image: url("../img/CTA/cta_bg-pc.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: f.pxToRem(240);

  @include m.mq('sp'){
    background-image: url("../img/CTA/cta_bg-sp.png");
  } 
  }

  .p-cta__content {
    display: flex;
    gap: clamp(1.75rem, -5.536rem + 15.18vw, 8.125rem);
    padding: clamp(3.75rem, 3.09rem + 2.82vw, 5.625rem) 0;
  
    @include m.mq('sp') {
     flex-flow: column wrap;
     gap: f.pxToRem(40);
     align-items: flex-start;
    } 
  }