@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

.p-header__logo--top {
  padding-left: clamp(1.25rem, 0.634rem + 2.63vw, 3rem);
  padding-top: f.pxToRem(32);
  
  &.scrolled {
    display: none;
  }
}

.p-header__logo--down {
  display: none;
  padding-left:clamp(1.25rem, 0.634rem + 2.63vw, 3rem);
  padding-top: f.pxToRem(32);

  @include m.mq('sp'){
    padding-top: f.pxToRem(20);
    width: f.pxToRem(160);
  } 

  &.scrolled {
    display: block;
  }
}

.p-header__nav {
    background: v.$color-accent;
    display: flex;
    padding: f.pxToRem(24) f.pxToRem(64);
    margin-top: 0;
    align-items:  center;
    align-self: start;
    border-radius: 0 0 0 32px;

    @include m.mq('sp') {
      padding: f.pxToRem(26);

      &.scrolled {
        padding: f.pxToRem(20) f.pxToRem(32) f.pxToRem(20) f.pxToRem(40);
    }
 }
}

.p-header-nav__inner {
    display: flex;
    gap: clamp(1.75rem, -4.5rem + 8.33vw, 3rem);
    color: #fff;
    padding: f.pxToRem(14) 0;
    
    li {
      transition: 0.5s ease-out;
  
      &:hover {
        opacity: .8;
      }
    }
  } 


.p-header-button__wrap {
  display: flex;
  gap:clamp(1.75rem, -4.5rem + 8.33vw, 3rem);
  margin-left: clamp(1.75rem, -4.5rem + 8.33vw, 3rem);
}

.p-header__search--pc {
 margin-left: clamp(1.75rem, -4.5rem + 8.33vw, 3rem);
}

#js-search {
  cursor: pointer;
}

/* ===============================================
ドロワー
=============================================== */
.p-drawer__wrap {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
justify-content: center;

&.scrolled {
  flex-direction: row-reverse;
  justify-content: space-between;
}
}

.p-header__search--sp {
  margin-top: f.pxToRem(58); 

  &.scrolled {
   margin-top: 0;
   margin-right: f.pxToRem(80);
  }
 }

 .p-drawer {
  @include m.mq("pc") {
    display: none;
  }
  
  background: v.$color-accent;
  color: #fff;
 }

 .p-drawer__nav {
  @include m.mq("pc") {
    display: none;
  }

  display: flex;
  flex-direction: column;
  gap: f.pxToRem(32);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
 }
