@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

.l-inner {
  max-width: f.pxToRem(1034);
  margin: 0 auto;

  @include m.mq('sp'){
    padding: 0 f.pxToRem(20);
  } 

  @include m.mq('tab'){
    padding: 0 f.pxToRem(40);
  } 
}

/* ===============================================
ヘッダー
=============================================== */
.l-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
}

/* ===============================================
ドロワー
=============================================== */
.l-drawer__icon {
  top: f.pxToRem(20);
  z-index: 10;
}

.l-drawer {
  display: none;
  position: fixed;

  &.is-active {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    display: block;
    z-index: 8;
    width: 76.8%;
    height: 80vh;
    border-radius: 0 0 0 24px;
  }
}

.l-drawer__inner {
  width: f.pxToRem(112);
  margin: f.pxToRem(82) auto 0;
  text-align: center;
}

/* ===============================================
CTA
=============================================== */
.l-cta {
  margin-top: f.pxToRem(64);
  padding: f.pxToRem(74) auto;

  @include m.mq('sp') {
    margin-top: f.pxToRem(48);
    padding: f.pxToRem(40) auto;
  } 
}

.l-cta__inner {
  max-width: f.pxToRem(840);
  margin: 0 auto; 

  @include m.mq('sp') {
    padding: 0 f.pxToRem(40);
  }

  @include m.mq('tab') {
    padding: 0 f.pxToRem(10);
    margin: 0 auto;
  }
}


/* ===============================================
フッター
=============================================== */
.l-footer {
  padding: f.pxToRem(48) 0 f.pxToRem(28);
}

.l-footer__inner{
  display: flex;
  flex-direction: column;
  gap: f.pxToRem(24);
}

/* ===============================================
404
=============================================== */
.l-page404 {
 padding-top : f.pxToRem(204);
}

/* ===============================================
タグ
=============================================== */
.l-tag {
  padding-top: f.pxToRem(64);
}

/* ===============================================
トップページ
=============================================== */
.l-fv {
  padding: f.pxToRem(200) 0 f.pxToRem(48);

  @include m.mq('sp'){
    padding-bottom: f.pxToRem(58);
  } 
}

/* ===============================================
新着情報
=============================================== */
.l-latest {
  padding: f.pxToRem(40) 0;
}
