@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

.l-inner {
  max-width: f.pxToRem(1034);
  margin: 0 auto;

  @include m.mq('sp'){
    padding: 0 f.pxToRem(20);
  } 

  @include m.mq('tab'){
    padding: 0 f.pxToRem(40);
  } 
}

/* ===============================================
ヘッダー
=============================================== */
.l-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
}

/* ===============================================
ドロワー
=============================================== */
.l-drawer__icon {
  top: f.pxToRem(24);
  z-index: 10;
  right: f.pxToRem(22);

  @include m.mq('tab') {
   right: f.pxToRem(60);
  } 
}

.l-drawer {
  visibility: hidden;
  transition: opacity .2s linear;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  
  &.is-active {
    position: absolute;
    visibility:visible ;
    content: "";
    top: 0;
    right: 0;
    z-index: 8;
    width: f.pxToRem(240);
    height: f.pxToRem(344);
    border-radius: 0 0 0 24px;
    pointer-events: auto;
    opacity: 1;

    @include m.mq('tab'){
      width: f.pxToRem(320);   
     } 
  }
  }


.l-drawer__inner {
  width: f.pxToRem(112);
  margin: f.pxToRem(78) auto 0;
  text-align: center;
}

/* ===============================================
CTA
=============================================== */
.l-cta {
  margin-top: f.pxToRem(64);
  padding: f.pxToRem(74) auto;

  @include m.mq('sp') {
    margin-top: f.pxToRem(48);
    padding: f.pxToRem(40) auto;
  } 
}

.l-cta__inner {
  max-width: f.pxToRem(840);
  margin: 0 auto; 

  @include m.mq('sp') {
    padding: 0 f.pxToRem(40);
  }

  @include m.mq('tab') {
    padding: 0 f.pxToRem(10);
    margin: 0 auto;
  }
}


/* ===============================================
フッター
=============================================== */
.l-footer {
  padding: f.pxToRem(48) 0 f.pxToRem(28);
}

.l-footer__inner{
  display: flex;
  flex-direction: column;
  gap: f.pxToRem(24);
}

/* ===============================================
404
=============================================== */
.l-page404 {
 padding-top : f.pxToRem(204);
}

/* ===============================================
タグ
=============================================== */
.l-tag {
  padding-top: f.pxToRem(64);
}

/* ===============================================
トップページ
=============================================== */
.l-fv {
  padding: f.pxToRem(160) 0 f.pxToRem(48);

  @include m.mq('sp'){
    padding: f.pxToRem(200) 0 f.pxToRem(58);
  } 
}

/* ===============================================
新着情報
=============================================== */
.l-latest {
  padding: f.pxToRem(40) 0;
}

/* ===============================================
おすすめ記事
=============================================== */
.l-recommend {
  padding: f.pxToRem(64) 0;

  @include m.mq('sp') {
    padding: f.pxToRem(40) 0;
  } 
}

.l-recommend__inner {
  padding-left: 14%;

  @include m.mq('sp'){
    padding-left: f.pxToRem(20);} 
}


/* ===============================================
すべての記事(トップページ）
=============================================== */
.l-all {
  padding-top: f.pxToRem(64);

  @include m.mq('sp'){
    padding-top: f.pxToRem(52);
  } 
}

.l-tabs {
  padding-top: f.pxToRem(48) 0 f.pxToRem(32);

  @include m.mq('sp'){
    padding: f.pxToRem(8) 0 f.pxToRem(20);
  } 
}

/* ===============================================
投稿ページ
=============================================== */
.l-entry {
  padding-top: f.pxToRem(200);
}

.l-entry__inner {
  @include m.mq('sp'){
    padding: 0;
  } 
}

/* ===============================================
すべての記事(下層）
=============================================== */
.l-lower-all {
  padding-top: f.pxToRem(200) ;
}

.l-pagiNav {
  padding-top: f.pxToRem(56);

  @include m.mq('sp'){
    padding-top: f.pxToRem(32);
  } 
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: f.pxToRem(10);
}

/* ===============================================
カテゴリー別
=============================================== */
.l-category {
  padding-top: f.pxToRem(200);
}