@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

/* ===============================================
fv スライダー
=============================================== */
.p-fv-card__title {
 font-size: f.pxToRem(20);
 font-weight: 500;
 line-height: 160%; 
 letter-spacing: f.pxToRem(1);

 @include m.mq('sp') {
 font-size: f.pxToRem(15);
 line-height: 140%; 
 letter-spacing: f.pxToRem( .3);
 } 
}

.p-fv-card__category {
  font-size: f.pxToRem(18);
  padding: f.pxToRem(4) f.pxToRem(20);

  @include m.mq('sp'){
    font-size: f.pxToRem(13);
  } 
}

.p-fv-swiper-box {
  position: relative;
  
}

.p-fv-swiper {
  width: 100%;
}

.p-fv-swiper-wrap {
  padding-top: f.pxToRem(40);
}

.p-fv__card {
  max-width: f.pxToRem(540);
  background: #fff;
  padding: f.pxToRem(28);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 /0.02);

  @include m.mq('sp'){
    max-width: f.pxToRem(270);
  } 

  
  &.swiper-slide-active {
    transform: translateY(-40px)!important;
    transition: transform 1s ease !important;
  }
}

.p-fv-swiper-button__wrap{
  max-width: f.pxToRem(752);
}

.p-fv-swiper__button--prev,
.p-fv-swiper__button--next {
  height: f.pxToRem(36);
  width: f.pxToRem(36);
  margin: 0;
  
  &:after {
    display: none;
  }
}

.p-fv-swiper__button--prev {
  background: url(../img/top/arrow-left.svg) no-repeat center center / contain;
  left: calc(50% - 380px);
  top: 50%;
  position: absolute;
  z-index: 1;

  @include m.mq('sp'){
    left: f.pxToRem(16);
  } 
}

.p-fv-swiper__button--next{
  background: url(../img/top/arrow-right.svg) no-repeat center center / contain;
  left: calc(50% + 340px);
  top: 50%;
  position: absolute;
  z-index: 1;

  @include m.mq('sp'){
    left: auto;
    right: f.pxToRem(16);
  } 
}

/* ===============================================
新着情報
=============================================== */
.p-card-latest__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: auto;
  gap: 64px 6%;
  padding: f.pxToRem(48) 0;

  @include m.mq('sp'){
    padding: f.pxToRem(32) 0;
  } 
}
.p-latest__title {
  justify-content: center;
}

.p-latest-button__wrap {
  text-align: center;

  @include m.mq('sp'){
    text-align: right;
  } 
}

/* ===============================================
おすすめ記事
=============================================== */
.p-recommend {
  background-image: url("../img/recommend/recommend-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: f.pxToRem(592);
}

.p-recommend__title {
  color: #fff;

  img {
    @include m.mq('sp'){
      width: f.pxToRem(42);
    } 
  }
}

.p-recommend__head {
  display: flex;
  justify-content: space-between;
  max-width: f.pxToRem(1040);
  position: relative;

  @include m.mq('sp'){
    display: block;
  } 
}

.p-recommend__button--prev,
.p-recommend__button--next {
  height: f.pxToRem(48);
  width: f.pxToRem(48);
  margin: 0;
  
  &::after {
    display: none;
  }
  
  &:hover {
    
    svg {
      transition:all .3s ease;
      fill: #fff;

      
      path {
        fill: v.$color-primary;
     }
    }
  }
}

.p-recommend__button--prev {
  top: unset;
  left: unset;
  right: f.pxToRem(64);

  @include m.mq('sp') {
    top: f.pxToRem(56);
    right: f.pxToRem(76);
  }
}

.p-recommend__button--next{
  right: 0;
  top: unset;
  left: unset;
  
  @include m.mq('sp') {
    top: f.pxToRem(56);
    right: f.pxToRem(16);
  }
}

.p-recommend__wrap {
  padding: f.pxToRem(36) 0;

  @include m.mq('sp'){
    padding: f.pxToRem(96) 0 f.pxToRem(24);
  } 
}

.p-recommend__card {
  max-width:  f.pxToRem(270);
}

/* ===============================================
すべての記事
=============================================== */
.p-tabs {
  @include m.mq('sp'){
    display: flex;
    flex-direction: row-reverse;    
  } 
}
.p-tab__content {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  max-width: 1034px;
}

.p-tab-list__wrap {
  display: flex;
  justify-content: space-between;

  @include m.mq('sp'){
    flex-direction: column;
  } 
}

.p-tabs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: f.pxToRem(12);

  @include m.mq('sp'){
    flex-direction: column;
  } 
}

.p-tabs__item {
  padding: f.pxToRem(6) f.pxToRem(20) f.pxToRem(4) ;
  border-radius: 12px 12px 0px 0px;
  cursor: pointer;
  transition: all .3s ease;
  border: 1px solid var(--tab-color);
  border-bottom: none;
  color: var(--tab-color);
  background-color: #ffffff;
  font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  font-weight: 500;
  line-height: 150%; 

  @include m.mq('sp'){
    border-radius: 0px 12px 12px 0px;
    padding: f.pxToRem(12)  f.pxToRem(10) f.pxToRem(12) f.pxToRem(6);
    border: 1px solid var(--tab-color);
    border-left: none;
    display: inline-block;
    -webkit-writing-mode: vertical-rl; /* WebKitブラウザ用 */
    writing-mode: vertical-rl; /* 標準 */
    text-orientation: upright; /* 文字を縦に表示 */
    line-height: 115%; 
    text-align: center;
    letter-spacing: .2em;
    } 

  
  &.active,
  &:hover {
    color: #ffffff;
    background-color: var(--tab-color);
  }
}

.p-card-category__wrap {
  border-radius: 0px 16px 16px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: auto;
  gap: f.pxToRem(30);
  padding: f.pxToRem(32);
  justify-items: center;
  
  @media (width < 750px){
    padding: f.pxToRem(12);
    grid-template-columns: minmax(270px, 1fr);
    border-radius: 16px 0px 16px 16px;
  }

  @media (750px <width < 950px){
    grid-template-columns: repeat(2, 1fr);
  }

}


.p-tabs__pane {
  display: none;
}

.p-tabs__pane {

  &.active {
    display: block;
  }
}

.p-order__list {
  
  display: flex;
  color: v.$color-text-gray;
  font-size: f.pxToRem(18);
  line-height: 130%; 
  align-items: center;
  transition: .3s ease;

  li{
    padding: 0 f.pxToRem(12);
    
    &:not(:first-child) { 
      border-left: 1px solid v.$color-text-gray;
    }

    &:hover,
    &.active {
      color: v.$color-accent;
    }
  }

   @include m.mq('sp'){
    display: none;
  } 
}

.p-order__list--sp {
  margin-top: f.pxToRem(24);
  display: flex;
  color: v.$color-text-gray;
  font-size: f.pxToRem(18);
  line-height: 130%; 
  align-items: center;
  justify-content: flex-end;

  li{
    padding: 0 f.pxToRem(12);
    
    &:not(:first-child) { 
      border-left: 1px solid v.$color-text-gray;
    }

    &.active {
      color: v.$color-accent;
    }
  }
}

.p-all-button__wrap {
  text-align: right;
}
