@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

/* ===============================================
fv スライダー
=============================================== */
.p-fv-card__title {
 font-size: f.pxToRem(20);
 font-weight: 500;
 line-height: 160%; 
 letter-spacing: f.pxToRem(1);

 @include m.mq('sp') {
 font-size: f.pxToRem(15);
 line-height: 140%; 
 letter-spacing: f.pxToRem( .3);
 } 
}

.p-fv-card__category {
  font-size: f.pxToRem(18);
  padding: f.pxToRem(4) f.pxToRem(20);
  display: inline-block;
  border-radius: 6px;

  @include m.mq('sp'){
    font-size: f.pxToRem(13);
  } 
}

.p-fv-swiper-box {
  position: relative;
}

.p-fv-swiper {
  width: 100%;
}

.p-fv-swiper-wrap {
  padding-top: f.pxToRem(40);
}

.p-fv__card {
  max-width: f.pxToRem(540);
  background: #fff;
  border-radius: 20px;
  padding: f.pxToRem(28);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 /0.02);
  cursor: pointer;
  margin: 0 18px;
  transition: .3s ease-out;

  @include m.mq('sp'){
    max-width: f.pxToRem(270);
    margin: 0 f.pxToRem(8);
  } 
  
  &:hover {
   opacity: .8;
  }

  &.swiper-slide-active {
    transform: translateY(-40px)!important;
    transition: transform 1s ease !important;
  }
}

.p-fv-card__time {
  font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
  font-weight: 400;
  line-height: 120%; 
}

.p-fv-swiper-button__wrap{
  max-width: f.pxToRem(752);
}

.p-fv-swiper__button--prev,
.p-fv-swiper__button--next {
  height: f.pxToRem(36);
  width: f.pxToRem(36);
  margin: 0;
  
  &:after {
    display: none;
  }

  &:hover {
    opacity: .8;
  }
}

.p-fv-swiper__button--prev {
  background: url(../img/top/arrow-left.svg) no-repeat center center / contain;
  left: calc(50% - 380px);
  top: 45%;
  position: absolute;
  z-index: 1;

  @include m.mq('sp'){
    left: f.pxToRem(16);
  } 
}

.p-fv-swiper__button--next{
  background: url(../img/top/arrow-right.svg) no-repeat center center / contain;
  left: calc(50% + 340px);
  top: 45%;
  position: absolute;
  z-index: 1;

  @include m.mq('sp'){
    left: auto;
    right: f.pxToRem(16);
  } 
}

/* ===============================================
新着情報
=============================================== */
.p-card-latest__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.pxToRem(48) 0;
  flex-wrap: wrap;
  
  @include m.mq('sp'){
    flex-direction: column;
    padding: f.pxToRem(32) 0;
    gap: f.pxToRem(20);
  }

  @include m.mq('tab') {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
   grid-template-rows: auto;
   align-items: center;
   padding: f.pxToRem(32) 0;
   gap: f.pxToRem(20);
  }

}
.p-latest__title {
  justify-content: center;
}

.p-latest-button__wrap {
  text-align: center;

  @include m.mq('sp'){
    text-align: right;
  } 
}

/* ===============================================
おすすめ記事
=============================================== */
.p-recommend {
  background-image: url("../img/recommend/recommend-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p-recommend__title {
  color: #fff;

  img {
    @include m.mq('sp'){
      width: f.pxToRem(42);
    } 
  }
}

.p-recommend__head {
  display: flex;
  justify-content: space-between;
  max-width: f.pxToRem(1040);
  position: relative;

  @include m.mq('sp'){
    display: block;
  } 
}

.p-recommend__button--prev,
.p-recommend__button--next {
  height: f.pxToRem(48);
  width: f.pxToRem(48);
  margin: 0;
  
  &::after {
    display: none;
  }
  
  &:hover {
    
    svg {
      transition:all .3s ease;
      fill: #fff;

      
      path {
        fill: v.$color-primary;
     }
    }
  }
}

.p-recommend__button--prev {
  top: unset;
  left: unset;
  right: f.pxToRem(64);

  @include m.mq('sp') {
    top: f.pxToRem(56);
    right: f.pxToRem(76);
  }
}

.p-recommend__button--next{
  right: 0;
  top: unset;
  left: unset;
  
  @include m.mq('sp') {
    top: f.pxToRem(56);
    right: f.pxToRem(16);
  }
}

.p-recommend__wrap {
  padding: f.pxToRem(36) 0 f.pxToRem(44);

  @include m.mq('sp'){
    padding: f.pxToRem(96) 0 f.pxToRem(28);
  } 
}

.p-recommend__card {
  max-width:  f.pxToRem(270);
}

.p-all-button__wrap {
  text-align: right;
  padding-top: f.pxToRem(40);
  
  @include m.mq('sp'){
    padding-top: f.pxToRem(20);
  } 
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

.swiper-horizontal>.swiper-scrollbar, 
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 0;
  bottom: var(--swiper-scrollbar-bottom, 0);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 8px);
  width: clamp(20rem, -4.648rem + 105.16vw, 90rem);
  background: var(--swiper-scrollbar-bg-color, #DDE1F0);
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color,  #135097);
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}




