// フォント
$font-main: "Noto Sans JP", sans-serif;
$font-deco: "Zen Maru Gothic", serif;

// 太さ
$bold: 700;

// タグのカラー
$color-tag:#DAEFF8;
$color-tag-text:#333;

// カテゴリーのカラー
$color-cat01: #135097;
$color-cat02: #42A0AD;
$color-cat03: #C88DEC;
$color-cat04: #9C8CFF;

//文字
$color-text-black:#343436;
$color-text-gray:#676E87;
$color-text-blue:#135097;
$color-text-white:#fff;

//差し色
$color-accent:#135097;

// 地色
$color-bg:#E6EDF3;
$color-primary:#629DE2;